<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style25.css">
</head>
<body>
    <div id="wrap">
        <header id="header"></header>
        <nav id="banner"></nav>

        <section id="content1">
            <article class="cont1_cont1">cont1_cont1</article>
            <article class="cont1_cont2">cont1_cont2</article>
            <article class="cont1_cont3">cont1_cont3</article>
        </section>

        <section id="content2">
            <article class="cont2_cont1">cont2_cont1</article>
            <article class="cont2_cont2">cont2_cont2</article>
            <article class="cont2_cont3">cont2_cont3</article>
        </section>

        <section id="content3">
            <div class="box1">box1</div>
            <div class="box2">box2</div>
            <div class="box3">box3</div>
            <div class="box4">box4</div>
        </section>
        <footer id="footer"></footer>
    </div>
    
</body>
</html>