<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/layout_ex1_style.css">
</head>

<body>
    <div id="wrap">
        <!--해더-->
        <header id="header">
            <div class="container">
                <div class="header">
                    <div class="header_rogo">
                        <img src="https://ncreatorsnext.pstatic.net/img/logo.a61f5142308413b313275c691aa13c9a.gif"
                            alt="" width="70" class="MobileGnb__image_logo___1Prf7">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194 30" fill="#121212" aria-hidden="true"
                            width="194"></svg>
                        <p>Naver<br>influecer center</p>
                    </div>
                    <div class="header_navi">
                        <ul>
                            <li><a href="#"></a>인플루언서 안내</li>
                            <li><a href="#"></a>광고 수익 혜택</li>
                            <li><a href="#"></a>성장 지원프로그램</li>
                            <li><a href="#"></a>브랜드커넥트</li>
                            <li><a href="#"></a>공지</li>
                        </ul>
                    </div>
                    <div class="header_login">
                        <p>인플루언서 로그인</p>
                    </div>
                </div>
            </div>
        </header>
        <!--//해더-->

        <!--네비-->
        <nav id="nav">
            <div class="nav">
                <ul>
                    <li><a href="#">크리에이터 워크숍</a></li>
                    <li><a href="#">슈퍼애드</a></li>
                    <li><a href="#">엑스퍼드 컨설팅</a></li>
                    <li><a href="#">멤버쉽 혜택</a></li>
                    <li><a href="#">어워드</a></li>
                </ul>
            </div>
        </nav>
        <!--//네비-->

        <!--컨텐츠-->
        <section id="content">
            <div class="content">
                <div class="content1">
                    <p>엑스퍼트 컨설팅 </p>
                    <h1>법률, 세무부터 동영상 제작까지!<br>
                        지식iN 엑스퍼트 상담, 클래스 이용을 지원합니다.</h1>
                    <h5>혼자서는 해결하기 어려웠던 문제들,<br>
                        1인 최대 10만원의 엑스퍼드 쿠폰으로 전문가의 도움을 받아보세요</h5>
                    <h6>지급 조건 상세 보기</h6>
                    <a href="#">내 eXpert 쿠폰 확인하기</a>


                </div>

                <div class="content2">
                    <div class="cont2_box1">
                        <div class="box1_pic">
                            <img src="img/support_p3.png" alt="#">
                        </div>
                    </div>
                    <div class="cont2_box2">
                        <div class="box2_conbox1">
                            <p>이 이미지 쓰고 싶은데<br>
                                저작권에 문제 없을까요?</p>
                                <a href="#">법률 상담 받기 ></a>
                        </div>
                        <div class="box2_conbox2">
                            <p> 광고 수익에 대한 세금 신고<br>
                                꼭 해야하나요? 어떻게 하죠?</p>
                                <a href="#">세무 상담 받기 ></a>
                        </div>
                        <div class="box2_conbox3">
                            <p> 영상 콘텐츠 만들고 싶은데,<br>
                                동영상 제작을 배우고 싶어요!</p>
                                <a href="#">동영상 제작 상담 ></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//컨텐츠-->

        <!--푸터-->
        <footer id="footer">
            <p>top</p>
            <a href="#">로그인</a>
            <h4>NAVER Copyright © NAVER Corp. All Rights Reserved.</h4>
            <h6>naver</h6>
        </footer>
        <!--//푸터-->
    </div>

</body>

</html>