<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03.26시험</title>
    <link rel="stylesheet" href="css/style.css">
</head>
    <div id="wrap">
        <div id="header">
            <div class="container">1번 칸</div>
        </div>
        <div id="nav">
            <div class="container">2번칸 </div>
        </div>
        <div id="content">
            <div class="container">
                <div id="cont1"></div>
                <div id="cont2">
                    <div id="con1">
                        <div class="co1">
                            <div class="the"><a href="#c">더보기</a></div>
                            <ul>
                                <h4>Web Publisher Notice</h4>
                                <li><a href="#">나는 조재형 입니다.</a></li>
                                <li><a href="#">거꾸로하면 형재조.</a></li>
                                <li><a href="#">0326일 시험보는날입니다.</a></li>
                                <li><a href="#">피그마 언제하나 이제하지</a></li>
                            </ul>
                        </div>
                        <div class="co2"></div>
                    </div>
                    <div id="con2"></div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="foots">
                <div class="container1"></div>
                <div class="container2"></div>
                <div class="container3"></div>
                <div class="container4"></div>
            </div>
        </div>
    </div>
    
</body>
</html>
</body>
</html>