<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/layout/layout30/style30.css">
</head>

<body>
    <div id="wrap">
        <!--해더-->
        <header id="header">
            <div class="container">
                <div class="header">
                    <div class="header_rogo">
                        <img src="/layout/layout30/img/rogo.PNG" alt="#">
                    </div>
                    <div class="header_navi">
                        <ul>
                            <li><a href="#"></a>인플루언서 안내</li>
                            <li><a href="#"></a>광고 수익 혜택</li>
                            <li><a href="#"></a>성장 지원프로그램</li>
                            <li><a href="#"></a>브랜드커넥트</li>
                            <li><a href="#"></a>공지</li>
                        </ul>
                    </div>
                    <div class="header_login">
                        <p>인플루언서 로그인</p>
                    </div>
                </div>
            </div>
        </header>
        <!--//해더-->


        <!--배너-->
        <section id="banner">
            <div class="banner">
                <p>맵버쉽 혜택</p>
                <h1>인플루언서 활동에 꼭 필요한<br>
                    네이버의 다양한 멤버쉽 혜텍을 제공합니다.</h1>
                <h3>전국 파트너스퀘어의 스튜디오, 편집실 이용부터<br>
                    네이버플러스 멤버십 이용권 1년 무료 혜택까지.<br>
                    네이버 인플루언서라면 네이버의 다양한<br>
                    멤버십 혜택들을 누릴 수 있습니다.</h3>

            </div>

        </section>
        <!--컨텐츠-->
        <section id="content">
            <div class="container2">
                <div class="container1">
                    <div class="content1">
                        <div class="cont1_box1">
                            <h1>어디에서든 나를 빛내줄 <br>
                            온라인 네임카드</h1>
                            <p>네이버 인플루언서라면 누구나 나만의
                                네임카드 다운받고 홈을 알릴 수 있습니다.
                                나를 더 예쁘고 멋지게 소개할 수 있도록
                                온라인 네임카드를 만들어보세요.
                                </p>
                                <a href="#">온라인 네임카드 만들기</a>
                        </div>

                        <div class="cont1_box2">
                            <img src="/layout/layout30/img/content1.png" alt="#">
                        </div>
                        <div class="cont1_box3">
                            <p><em>신청 자격</em>홈을 개설한 인플루언서라면 누구나</p><br>
                            <p><em>혜택 상세</em>운영중인 다른 채널에 내 인플루언서 홈을 홍보할 수 있는 네임카드 이미지 소스를 제공합니다.</p>
                        </div>
                    </div>

                    
                    <div class="content2">
                        <div class="cont2_box1">
                            <h1>전국 파트너스퀘어 <br>
                                스튜디오, 편집실 제공</h1>
                            <p>파트너스퀘어는 사진/동영상 컨텐츠를 보다 잘 만들 수
                                있는 지원을 받는 곳입니다. 크리에이터를 위한 다양한
                                스튜디오를 경험해보세요
                                </p>
                                <a href="#">파트너스퀘어 이용하기</a>
                        </div>
                        <div class="cont1_box2">
                            <img src="/layout/layout30/img/content2.png" alt="#">
                        </div>
                        <div class="cont1_box3">
                            <p><em>신청 자격</em><caption>홈을 개설한 인플루언서라면 누구나</caption></p><br>
                            <p><em>혜택 상세</em><caption>서울(역삼, 종로, 홍대, 상수), 부산, 광주에 위치한 파트너스퀘어 내 다양한 스튜디오 및 편집실을 이용할 수 있습니다.</caption></p><br>
                            <p><em>이용 방법</em><caption>네이버 파트너스퀘어에서 창작자 인증을 해야합니다.</caption></p><br>
                        </div>
                    </div>


                    <div class="content3">
                        <div class="cont3_box1">
                            <h1>전국 파트너스퀘어 <br>
                                스튜디오, 편집실 제공</h1>
                            <p>파트너스퀘어는 사진/동영상 컨텐츠를 보다 잘 만들 수
                                있는 지원을 받는 곳입니다. 크리에이터를 위한 다양한
                                스튜디오를 경험해보세요
                                </p>
                                <a href="#">파트너스퀘어 이용하기<br>
                                <a href="#" class="a1">지급조건 상세보기</a>
                        </div>
                        <div class="cont3_box2">
                            <img src="/layout/layout30/img/content3.png" alt="#">
                        </div>
                        <div class="cont3_box3">
                            <p><em>신청 자격</em><caption>홈을 개설한 인플루언서라면 누구나</caption></p><br>
                            <p><em>혜택 상세</em><caption>서울(역삼, 종로, 홍대, 상수), 부산, 광주에 위치한 파트너스퀘어 내 다양한 스튜디오 및 편집실을 이용할 수 있습니다.</caption></p><br>
                            <p><em>이용 방법</em><caption>네이버 파트너스퀘어에서 창작자 인증을 해야합니다.</caption></p><br>
                        </div>
                    </div>
                </div>
            </div>   
        </section>
        <!--푸터-->
        <footer id="footer">4</footer>
    </div>

</body>

</html>