<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>네이버</title>
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div id="naver_wrap">
        <!-- 네비 -->
        <nav id="naver_nav">
            <div class="naver_nav">
                <div class="naver_nav_bg">
                    <div class="rogo">
                        <p>naver<br>Webtoon</p>
                        <ul>
                            <li><a href="#">company</a></li>
                            <li><a href="#">careers</a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                        <a class="reang icon" href="#"><span>한국어 </span></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- //네비 -->

        <!-- 배너 -->
        <section id="naver_banner">
            <div class="naver_banner">
                <div class="spot1"></div>
                <div class="spot2"></div>
                <div class="spot3"></div>
                <div class="spot4"></div>
                <div class="spot5"></div>
            </div>
        </section>
        <!-- //배너 -->

        <!-- 컨텐츠 -->
        <section id="naver_content">
            <div class="row">
                <div class="naver_content">
                    <div class="container">
                        <div class="n_cont_room1">
                            <div class="room1 clearfix">
                                <div class="room1_door1">
                                    <h1>NAVER<BR>
                                        WEBTOON</h1>
                                </div>
                                <div class="room1_door2">
                                    <h1>매일매일 새로운 재미,<br>가장 가까운 즐거움을 만듭니다.</h1>
                                    <p>한국을 대표하는 검색 포털 네이버의 작은 서비스 중 하나로 시작한 네이버 웹툰은 기존 만화 시장의 창작과 소비 문화 전반을 혁신하고,<br>
                                        이전에 없었던 창작 생태계를 만들어왔습니다. 더욱 빠르고 재미있게 좌충우돌하며, 한국은 물론 전세계의 독자를 만나고자<br>
                                        2017년 5월, 네이버의 자회사로 독립하여 새로운 모험을 시작하였습니다.<br><br>
                                        앞으로도 혁신과 실험을 거듭하며 변화하는 트렌드에 발맞춘, 놀랍고 강력한 콘텐츠를 만들어내는 한편 전세계의 다양한 작가들과 독자들이<br>
                                        즐겁게 만날 수 있는 플랫폼으로 거듭나고자 합니다.</p>
                                </div>
                                <div class="room1_door3"></div>
                            </div>
                        </div>

                        <!--//1번방-->

                        <div class="n_cont_room2 row">
                            <h1>service</h1>
                            <div class="room2 clearfix">
                                <div class="room2_door1">
                                    <div class="svg">
                                        <?xml version="1.0" encoding="utf-8"?>
                                        <!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 225 225" style="enable-background:new 0 0 225 225;"
                                            xml:space="preserve">
                                            <style type="text/css">
                                                .st0 {
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #00D564;
                                                }

                                                .st1 {
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #FFFFFF;
                                                }
                                            </style>
                                            <g>
                                                <circle class="st0" cx="112.5" cy="112.5" r="112.5" />
                                                <path class="st1" d="M155.9,133.6c0,0.2-0.2,0.4-0.4,0.4l-4.1,0.1c-0.2,0-0.3-0.1-0.4-0.2l-5.5-7.9c-0.1-0.1-0.4-0.1-0.4,0.1l0,7.9
		c0,0.2-0.2,0.5-0.4,0.5l-4.9,0.2c-0.3,0-0.5-0.2-0.5-0.4c0,0,0,0,0,0l0.2-17.9c0-0.3,0.2-0.5,0.5-0.5c0,0,0,0,0,0l4.4,0.2
		c0.2,0,0.3,0.1,0.4,0.2l6,9c0.1,0.2,0.3,0.1,0.4-0.1l0.1-8.6c0-0.3,0.2-0.4,0.5-0.4l4.5,0c0.3,0,0.5,0.2,0.5,0.5L155.9,133.6
		L155.9,133.6z M137.1,111.9c-3.4-0.1-6.5-0.2-9.8-0.3c-0.3,0-0.6-0.3-0.6-0.6c0-7,0.1-14,0.1-21c0-0.3,0.3-0.6,0.6-0.6
		c3.2-0.2,7.2-0.5,10.4-0.7c3.9-0.3,8.1,0.9,8.1,6.1c0,2-0.9,3.9-2.6,5.1c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0.1,0.2
		c2,0.9,3.2,2.4,3,5.2C146,111.1,141.4,112,137.1,111.9L137.1,111.9z M127.8,136.2c-5.8,0.2-10.5-4.2-10.5-10.2
		c0-6.3,3.8-10.5,10.3-10.5c5.7,0,10.1,4.1,10.1,10.2C137.7,131.8,133.3,136,127.8,136.2z M109.8,111.2c-0.3,0-0.5-0.3-0.5-0.6
		c0.1-6.5,0.1-12.9,0.2-19.4c0-0.3,0.2-0.6,0.5-0.6c4.7-0.3,9.5-0.6,14.2-0.9c0.3,0,0.6,0.2,0.6,0.5l0,4.2c0,0.3-0.3,0.6-0.6,0.7
		c-3.7,0.2-5.5,0.3-9,0.4c-0.1,0-0.1,0.1-0.1,0.2l0,2.1c0,0.1,0.1,0.2,0.1,0.2c3-0.1,4.6-0.2,7.8-0.3c0.3,0,0.6,0.3,0.6,0.6l0,4.4
		c0,0.4-0.3,0.7-0.6,0.7l-7.8,0c-0.1,0-0.2,0.1-0.2,0.2l0,2.4c0,0.1,0.1,0.2,0.1,0.2c3.5,0,5.3,0.1,9,0.1c0.3,0,0.6,0.3,0.6,0.6
		l0,4.2c0,0.3-0.3,0.5-0.6,0.5C119.3,111.4,114.5,111.3,109.8,111.2z M104.8,137.6c-6.7,0.2-11.7-4.1-11.7-11.2
		c0-6.6,4.3-11.4,11.6-11.4c6.2,0,11,4.9,11,11.2C115.7,132.9,111,137.4,104.8,137.6z M92.7,120.5c0,0.3-0.2,0.4-0.5,0.4l-5.7-0.1
		c-0.1,0-0.2,0.1-0.2,0.2c0,0,0,0,0,0l0.1,16.3c0,0.2-0.2,0.5-0.4,0.5l-5.8,0.4c-0.3,0-0.5-0.2-0.5-0.4c0,0,0,0,0,0l0.1-16.8
		c0-0.1-0.1-0.2-0.2-0.2l-6.2-0.1c-0.2,0-0.5-0.2-0.5-0.4l-0.2-5.4c0-0.3,0.2-0.5,0.5-0.5c0,0,0,0,0,0l19.1,0.5
		c0.3,0,0.5,0.2,0.5,0.5C92.9,115.4,92.7,120.5,92.7,120.5z M81.4,92.6c1.4-0.1,3-0.2,4.5-0.3c0.2,0,0.4,0.1,0.4,0.4
		c0.7,3.5,1.5,6.5,2.2,10c0,0.1,0.1,0.8,0.1,0.8c0,0,0.1-0.7,0.1-0.8c0.9-3.6,1.7-6.8,2.6-10.4c0.1-0.2,0.2-0.4,0.5-0.4
		c1.7-0.1,2.7-0.2,4.5-0.3c0.2,0,0.4,0.1,0.5,0.4c0.9,3.7,1.7,7,2.6,10.7c0,0.1,0.1,0.8,0.1,0.8c0,0,0.1-0.7,0.1-0.8
		c0.9-3.8,1.8-7.2,2.7-11.1c0.1-0.2,0.3-0.4,0.5-0.4c1.7-0.1,2.9-0.2,4.6-0.3c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.1,0.3,0.1,0.5
		c-1.8,6.3-3.4,12.7-5.2,19c-0.1,0.2-0.3,0.4-0.5,0.4c-2.1-0.1-3.4-0.1-5.4-0.1c-0.2,0-0.4-0.2-0.5-0.4c-0.8-3.2-1.6-5.9-2.4-9.1
		c0-0.1-0.1-0.5-0.1-0.5c0,0-0.1,0.5-0.1,0.5c-0.8,3.1-1.7,5.8-2.5,9c-0.1,0.2-0.2,0.4-0.4,0.4c-1.9-0.1-3.5-0.1-5.3-0.1
		c-0.2,0-0.4-0.2-0.4-0.4c-1.3-5.6-2.8-11.2-4.1-16.8C80.9,92.9,81.1,92.7,81.4,92.6L81.4,92.6z M154.7,107.1l3.9-45.6L65.9,75.9
		l7.9,29.5H56.7l17.5,53.8l41-6.1v16l47.5-21.8l6.8-40.3H154.7L154.7,107.1z M133,97.6c1.4,0,2.1-0.1,3.5-0.1
		c1.6-0.1,2.3-0.7,2.3-1.9c0-0.9-0.2-1.7-2.3-1.6c-1.4,0.1-2.1,0.1-3.5,0.2c-0.1,0-0.2,0.1-0.2,0.2l0,3.1
		C132.8,97.5,132.9,97.6,133,97.6L133,97.6z M104.7,121c-2.9,0-4.9,1.9-4.9,5.3c0,3.4,2.1,5.4,4.9,5.3c2.9-0.1,4.8-2.2,4.8-5.5
		C109.5,122.9,107.5,121,104.7,121z M127.6,121.1c-2.6,0-4.4,1.9-4.4,4.9c0,3,1.9,4.9,4.5,4.8c2.6-0.1,4.3-2.1,4.3-4.9
		C132,122.9,130.4,121.1,127.6,121.1L127.6,121.1z M136.8,103.2c-1.5,0-2.3,0-3.8,0c-0.1,0-0.2,0.1-0.2,0.2l0,3.2
		c0,0.1,0.1,0.2,0.2,0.2l3.8,0.1c2.2,0,2.5-1,2.5-1.8C139.2,103.8,138.4,103.2,136.8,103.2L136.8,103.2z" />
                                            </g>
                                        </svg>

                                    </div>
                                    <h2>네이버 웹툰</h2>
                                    <p>국내 최대최고의 콘텐츠 플랫폼!<br>
                                        도전과 혁신으로 웹툰시장을 확대하고<br>
                                        창작자와 상생하며 구축해온 성장의 역사.<br>
                                        웹툰은 물론, 이제 영상과 게임까지!</p>
                                    <ul>
                                        <li class="google"><a class="ir_so" href="#">구글</a></li>
                                        <li class="apple"><a class="ir_so" href="#">애플</a></li>
                                        <li class="inter"><a href="#" class="ir_so">인터넷</a></li>
                                    </ul>
                                </div>

                                <div class="room2_door2">
                                    <div class="svg">
                                        <?xml version="1.0" encoding="utf-8"?>
                                        <!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 225 225" style="enable-background:new 0 0 225 225;"
                                            xml:space="preserve">
                                            <style type="text/css">
                                                .st0 {
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #00D564;
                                                }

                                                .st1 {
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #FFFFFF;
                                                }
                                            </style>
                                            <g>
                                                <circle class="st0" cx="112.5" cy="112.5" r="112.5" />
                                                <path class="st1" d="M155.9,133.6c0,0.2-0.2,0.4-0.4,0.4l-4.1,0.1c-0.2,0-0.3-0.1-0.4-0.2l-5.5-7.9c-0.1-0.1-0.4-0.1-0.4,0.1l0,7.9
    c0,0.2-0.2,0.5-0.4,0.5l-4.9,0.2c-0.3,0-0.5-0.2-0.5-0.4c0,0,0,0,0,0l0.2-17.9c0-0.3,0.2-0.5,0.5-0.5c0,0,0,0,0,0l4.4,0.2
    c0.2,0,0.3,0.1,0.4,0.2l6,9c0.1,0.2,0.3,0.1,0.4-0.1l0.1-8.6c0-0.3,0.2-0.4,0.5-0.4l4.5,0c0.3,0,0.5,0.2,0.5,0.5L155.9,133.6
    L155.9,133.6z M137.1,111.9c-3.4-0.1-6.5-0.2-9.8-0.3c-0.3,0-0.6-0.3-0.6-0.6c0-7,0.1-14,0.1-21c0-0.3,0.3-0.6,0.6-0.6
    c3.2-0.2,7.2-0.5,10.4-0.7c3.9-0.3,8.1,0.9,8.1,6.1c0,2-0.9,3.9-2.6,5.1c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0.1,0.2
    c2,0.9,3.2,2.4,3,5.2C146,111.1,141.4,112,137.1,111.9L137.1,111.9z M127.8,136.2c-5.8,0.2-10.5-4.2-10.5-10.2
    c0-6.3,3.8-10.5,10.3-10.5c5.7,0,10.1,4.1,10.1,10.2C137.7,131.8,133.3,136,127.8,136.2z M109.8,111.2c-0.3,0-0.5-0.3-0.5-0.6
    c0.1-6.5,0.1-12.9,0.2-19.4c0-0.3,0.2-0.6,0.5-0.6c4.7-0.3,9.5-0.6,14.2-0.9c0.3,0,0.6,0.2,0.6,0.5l0,4.2c0,0.3-0.3,0.6-0.6,0.7
    c-3.7,0.2-5.5,0.3-9,0.4c-0.1,0-0.1,0.1-0.1,0.2l0,2.1c0,0.1,0.1,0.2,0.1,0.2c3-0.1,4.6-0.2,7.8-0.3c0.3,0,0.6,0.3,0.6,0.6l0,4.4
    c0,0.4-0.3,0.7-0.6,0.7l-7.8,0c-0.1,0-0.2,0.1-0.2,0.2l0,2.4c0,0.1,0.1,0.2,0.1,0.2c3.5,0,5.3,0.1,9,0.1c0.3,0,0.6,0.3,0.6,0.6
    l0,4.2c0,0.3-0.3,0.5-0.6,0.5C119.3,111.4,114.5,111.3,109.8,111.2z M104.8,137.6c-6.7,0.2-11.7-4.1-11.7-11.2
    c0-6.6,4.3-11.4,11.6-11.4c6.2,0,11,4.9,11,11.2C115.7,132.9,111,137.4,104.8,137.6z M92.7,120.5c0,0.3-0.2,0.4-0.5,0.4l-5.7-0.1
    c-0.1,0-0.2,0.1-0.2,0.2c0,0,0,0,0,0l0.1,16.3c0,0.2-0.2,0.5-0.4,0.5l-5.8,0.4c-0.3,0-0.5-0.2-0.5-0.4c0,0,0,0,0,0l0.1-16.8
    c0-0.1-0.1-0.2-0.2-0.2l-6.2-0.1c-0.2,0-0.5-0.2-0.5-0.4l-0.2-5.4c0-0.3,0.2-0.5,0.5-0.5c0,0,0,0,0,0l19.1,0.5
    c0.3,0,0.5,0.2,0.5,0.5C92.9,115.4,92.7,120.5,92.7,120.5z M81.4,92.6c1.4-0.1,3-0.2,4.5-0.3c0.2,0,0.4,0.1,0.4,0.4
    c0.7,3.5,1.5,6.5,2.2,10c0,0.1,0.1,0.8,0.1,0.8c0,0,0.1-0.7,0.1-0.8c0.9-3.6,1.7-6.8,2.6-10.4c0.1-0.2,0.2-0.4,0.5-0.4
    c1.7-0.1,2.7-0.2,4.5-0.3c0.2,0,0.4,0.1,0.5,0.4c0.9,3.7,1.7,7,2.6,10.7c0,0.1,0.1,0.8,0.1,0.8c0,0,0.1-0.7,0.1-0.8
    c0.9-3.8,1.8-7.2,2.7-11.1c0.1-0.2,0.3-0.4,0.5-0.4c1.7-0.1,2.9-0.2,4.6-0.3c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.1,0.3,0.1,0.5
    c-1.8,6.3-3.4,12.7-5.2,19c-0.1,0.2-0.3,0.4-0.5,0.4c-2.1-0.1-3.4-0.1-5.4-0.1c-0.2,0-0.4-0.2-0.5-0.4c-0.8-3.2-1.6-5.9-2.4-9.1
    c0-0.1-0.1-0.5-0.1-0.5c0,0-0.1,0.5-0.1,0.5c-0.8,3.1-1.7,5.8-2.5,9c-0.1,0.2-0.2,0.4-0.4,0.4c-1.9-0.1-3.5-0.1-5.3-0.1
    c-0.2,0-0.4-0.2-0.4-0.4c-1.3-5.6-2.8-11.2-4.1-16.8C80.9,92.9,81.1,92.7,81.4,92.6L81.4,92.6z M154.7,107.1l3.9-45.6L65.9,75.9
    l7.9,29.5H56.7l17.5,53.8l41-6.1v16l47.5-21.8l6.8-40.3H154.7L154.7,107.1z M133,97.6c1.4,0,2.1-0.1,3.5-0.1
    c1.6-0.1,2.3-0.7,2.3-1.9c0-0.9-0.2-1.7-2.3-1.6c-1.4,0.1-2.1,0.1-3.5,0.2c-0.1,0-0.2,0.1-0.2,0.2l0,3.1
    C132.8,97.5,132.9,97.6,133,97.6L133,97.6z M104.7,121c-2.9,0-4.9,1.9-4.9,5.3c0,3.4,2.1,5.4,4.9,5.3c2.9-0.1,4.8-2.2,4.8-5.5
    C109.5,122.9,107.5,121,104.7,121z M127.6,121.1c-2.6,0-4.4,1.9-4.4,4.9c0,3,1.9,4.9,4.5,4.8c2.6-0.1,4.3-2.1,4.3-4.9
    C132,122.9,130.4,121.1,127.6,121.1L127.6,121.1z M136.8,103.2c-1.5,0-2.3,0-3.8,0c-0.1,0-0.2,0.1-0.2,0.2l0,3.2
    c0,0.1,0.1,0.2,0.2,0.2l3.8,0.1c2.2,0,2.5-1,2.5-1.8C139.2,103.8,138.4,103.2,136.8,103.2L136.8,103.2z" />
                                            </g>
                                        </svg>

                                    </div>
                                    <h2>네이버 웹툰</h2>
                                    <p>국내 최대최고의 콘텐츠 플랫폼!<br>
                                        도전과 혁신으로 웹툰시장을 확대하고<br>
                                        창작자와 상생하며 구축해온 성장의 역사.<br>
                                        웹툰은 물론, 이제 영상과 게임까지!</p>
                                    <ul>
                                        <li class="google"><a class="ir_so" href="#">구글</a></li>
                                        <li class="apple"><a class="ir_so" href="#">애플</a></li>
                                        <li class="inter"><a href="#" class="ir_so">인터넷</a></li>
                                    </ul>
                                </div>
                                <div class="room2_door3">
                                    <div class="svg">
                                        <?xml version="1.0" encoding="utf-8"?>
                                        <!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 225 225" style="enable-background:new 0 0 225 225;"
                                            xml:space="preserve">
                                            <style type="text/css">
                                                .st1 {
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #4579EC;
                                                }

                                                .st1 {
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #AFD2FF;
                                                }

                                                .st2 {
                                                    filter: url(#Adobe_OpacityMaskFilter);
                                                }

                                                .st3 {
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #FFFFFF;
                                                }

                                                .st4 {
                                                    mask: url(#b_1_);
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #FFFFFF;
                                                }
                                            </style>
                                            <g>
                                                <circle class="st0" cx="112.5" cy="112.5" r="112.5" />
                                                <path class="st1" d="M156.6,58.8C156.6,58.8,156.5,58.7,156.6,58.8L113,113.1l0,0c3.8,3.1,4.5,8.6,1.4,12.5c0,0,0,0,0,0
		c-3.1,3.8-8.7,4.5-12.6,1.4l-20.5,25.6h59.3c1,0,2.1-0.4,2.4-2.2l13.6-91.2C156.7,59,156.7,58.9,156.6,58.8" />
                                                <g transform="translate(69 58.498)">
                                                    <defs>
                                                        <filter id="Adobe_OpacityMaskFilter"
                                                            filterUnits="userSpaceOnUse" x="0" y="0.1" width="87.5"
                                                            height="108.3">
                                                            <feColorMatrix type="matrix"
                                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0" />
                                                        </filter>
                                                    </defs>
                                                    <mask maskUnits="userSpaceOnUse" x="0" y="0.1" width="87.5"
                                                        height="108.3" id="b_1_">
                                                        <g class="st2">
                                                            <path id="a_1_" class="st3"
                                                                d="M0,0.1h87.5v108.3H0L0,0.1z" />
                                                        </g>
                                                    </mask>
                                                    <path class="st4" d="M87.5,0.2c-0.1,0-0.2-0.1-0.2-0.1c-0.1,0-0.3,0.1-0.3,0.1L1.4,37.6C0.2,38.2,0,39.1,0,40.1v67.3
			c0,1.4,0.7,1.2,1.2,0.6L12.3,94l20.5-25.6l0,0c-3.8-3-4.5-8.6-1.4-12.5c0,0,0,0,0,0c3.1-3.8,8.7-4.5,12.6-1.4L87.5,0.2
			C87.5,0.2,87.5,0.2,87.5,0.2" />
                                                </g>
                                            </g>
                                        </svg>

                                    </div>
                                    <h2>네이버 웹툰</h2>
                                    <p>국내 최대최고의 콘텐츠 플랫폼!<br>
                                        도전과 혁신으로 웹툰시장을 확대하고<br>
                                        창작자와 상생하며 구축해온 성장의 역사.<br>
                                        웹툰은 물론, 이제 영상과 게임까지!</p>
                                    <ul>
                                        <li class="google"><a class="ir_so" href="#">구글</a></li>
                                        <li class="apple"><a class="ir_so" href="#">애플</a></li>
                                        <li class="inter"><a href="#" class="ir_so">인터넷</a></li>
                                    </ul>
                                </div>
                                <div class="room2_door4">
                                    <div class="svg">
                                        <?xml version="1.0" encoding="utf-8"?>
                                        <!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 225 225" style="enable-background:new 0 0 225 225;"
                                            xml:space="preserve">
                                            <style type="text/css">
                                                .st0 {
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #00D564;
                                                }

                                                .st1 {
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #FFFFFF;
                                                }
                                            </style>
                                            <g>
                                                <circle class="st0" cx="112.5" cy="112.5" r="112.5" />
                                                <path class="st1" d="M155.9,133.6c0,0.2-0.2,0.4-0.4,0.4l-4.1,0.1c-0.2,0-0.3-0.1-0.4-0.2l-5.5-7.9c-0.1-0.1-0.4-0.1-0.4,0.1l0,7.9
    c0,0.2-0.2,0.5-0.4,0.5l-4.9,0.2c-0.3,0-0.5-0.2-0.5-0.4c0,0,0,0,0,0l0.2-17.9c0-0.3,0.2-0.5,0.5-0.5c0,0,0,0,0,0l4.4,0.2
    c0.2,0,0.3,0.1,0.4,0.2l6,9c0.1,0.2,0.3,0.1,0.4-0.1l0.1-8.6c0-0.3,0.2-0.4,0.5-0.4l4.5,0c0.3,0,0.5,0.2,0.5,0.5L155.9,133.6
    L155.9,133.6z M137.1,111.9c-3.4-0.1-6.5-0.2-9.8-0.3c-0.3,0-0.6-0.3-0.6-0.6c0-7,0.1-14,0.1-21c0-0.3,0.3-0.6,0.6-0.6
    c3.2-0.2,7.2-0.5,10.4-0.7c3.9-0.3,8.1,0.9,8.1,6.1c0,2-0.9,3.9-2.6,5.1c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0.1,0.2
    c2,0.9,3.2,2.4,3,5.2C146,111.1,141.4,112,137.1,111.9L137.1,111.9z M127.8,136.2c-5.8,0.2-10.5-4.2-10.5-10.2
    c0-6.3,3.8-10.5,10.3-10.5c5.7,0,10.1,4.1,10.1,10.2C137.7,131.8,133.3,136,127.8,136.2z M109.8,111.2c-0.3,0-0.5-0.3-0.5-0.6
    c0.1-6.5,0.1-12.9,0.2-19.4c0-0.3,0.2-0.6,0.5-0.6c4.7-0.3,9.5-0.6,14.2-0.9c0.3,0,0.6,0.2,0.6,0.5l0,4.2c0,0.3-0.3,0.6-0.6,0.7
    c-3.7,0.2-5.5,0.3-9,0.4c-0.1,0-0.1,0.1-0.1,0.2l0,2.1c0,0.1,0.1,0.2,0.1,0.2c3-0.1,4.6-0.2,7.8-0.3c0.3,0,0.6,0.3,0.6,0.6l0,4.4
    c0,0.4-0.3,0.7-0.6,0.7l-7.8,0c-0.1,0-0.2,0.1-0.2,0.2l0,2.4c0,0.1,0.1,0.2,0.1,0.2c3.5,0,5.3,0.1,9,0.1c0.3,0,0.6,0.3,0.6,0.6
    l0,4.2c0,0.3-0.3,0.5-0.6,0.5C119.3,111.4,114.5,111.3,109.8,111.2z M104.8,137.6c-6.7,0.2-11.7-4.1-11.7-11.2
    c0-6.6,4.3-11.4,11.6-11.4c6.2,0,11,4.9,11,11.2C115.7,132.9,111,137.4,104.8,137.6z M92.7,120.5c0,0.3-0.2,0.4-0.5,0.4l-5.7-0.1
    c-0.1,0-0.2,0.1-0.2,0.2c0,0,0,0,0,0l0.1,16.3c0,0.2-0.2,0.5-0.4,0.5l-5.8,0.4c-0.3,0-0.5-0.2-0.5-0.4c0,0,0,0,0,0l0.1-16.8
    c0-0.1-0.1-0.2-0.2-0.2l-6.2-0.1c-0.2,0-0.5-0.2-0.5-0.4l-0.2-5.4c0-0.3,0.2-0.5,0.5-0.5c0,0,0,0,0,0l19.1,0.5
    c0.3,0,0.5,0.2,0.5,0.5C92.9,115.4,92.7,120.5,92.7,120.5z M81.4,92.6c1.4-0.1,3-0.2,4.5-0.3c0.2,0,0.4,0.1,0.4,0.4
    c0.7,3.5,1.5,6.5,2.2,10c0,0.1,0.1,0.8,0.1,0.8c0,0,0.1-0.7,0.1-0.8c0.9-3.6,1.7-6.8,2.6-10.4c0.1-0.2,0.2-0.4,0.5-0.4
    c1.7-0.1,2.7-0.2,4.5-0.3c0.2,0,0.4,0.1,0.5,0.4c0.9,3.7,1.7,7,2.6,10.7c0,0.1,0.1,0.8,0.1,0.8c0,0,0.1-0.7,0.1-0.8
    c0.9-3.8,1.8-7.2,2.7-11.1c0.1-0.2,0.3-0.4,0.5-0.4c1.7-0.1,2.9-0.2,4.6-0.3c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.1,0.3,0.1,0.5
    c-1.8,6.3-3.4,12.7-5.2,19c-0.1,0.2-0.3,0.4-0.5,0.4c-2.1-0.1-3.4-0.1-5.4-0.1c-0.2,0-0.4-0.2-0.5-0.4c-0.8-3.2-1.6-5.9-2.4-9.1
    c0-0.1-0.1-0.5-0.1-0.5c0,0-0.1,0.5-0.1,0.5c-0.8,3.1-1.7,5.8-2.5,9c-0.1,0.2-0.2,0.4-0.4,0.4c-1.9-0.1-3.5-0.1-5.3-0.1
    c-0.2,0-0.4-0.2-0.4-0.4c-1.3-5.6-2.8-11.2-4.1-16.8C80.9,92.9,81.1,92.7,81.4,92.6L81.4,92.6z M154.7,107.1l3.9-45.6L65.9,75.9
    l7.9,29.5H56.7l17.5,53.8l41-6.1v16l47.5-21.8l6.8-40.3H154.7L154.7,107.1z M133,97.6c1.4,0,2.1-0.1,3.5-0.1
    c1.6-0.1,2.3-0.7,2.3-1.9c0-0.9-0.2-1.7-2.3-1.6c-1.4,0.1-2.1,0.1-3.5,0.2c-0.1,0-0.2,0.1-0.2,0.2l0,3.1
    C132.8,97.5,132.9,97.6,133,97.6L133,97.6z M104.7,121c-2.9,0-4.9,1.9-4.9,5.3c0,3.4,2.1,5.4,4.9,5.3c2.9-0.1,4.8-2.2,4.8-5.5
    C109.5,122.9,107.5,121,104.7,121z M127.6,121.1c-2.6,0-4.4,1.9-4.4,4.9c0,3,1.9,4.9,4.5,4.8c2.6-0.1,4.3-2.1,4.3-4.9
    C132,122.9,130.4,121.1,127.6,121.1L127.6,121.1z M136.8,103.2c-1.5,0-2.3,0-3.8,0c-0.1,0-0.2,0.1-0.2,0.2l0,3.2
    c0,0.1,0.1,0.2,0.2,0.2l3.8,0.1c2.2,0,2.5-1,2.5-1.8C139.2,103.8,138.4,103.2,136.8,103.2L136.8,103.2z" />
                                            </g>
                                        </svg>

                                    </div>
                                    <h2>네이버 웹툰</h2>
                                    <p>국내 최대최고의 콘텐츠 플랫폼!<br>
                                        도전과 혁신으로 웹툰시장을 확대하고<br>
                                        창작자와 상생하며 구축해온 성장의 역사.<br>
                                        웹툰은 물론, 이제 영상과 게임까지!</p>
                                    <ul>
                                        <li class="google"><a class="ir_so" href="#">구글</a></li>
                                        <li class="apple"><a class="ir_so" href="#">애플</a></li>
                                        <li class="inter"><a href="#" class="ir_so">인터넷</a></li>
                                    </ul>
                                </div>
                                <div class="room2_door5">
                                    <div class="svg">
                                        <?xml version="1.0" encoding="utf-8"?>
                                        <!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 225 225" style="enable-background:new 0 0 225 225;"
                                            xml:space="preserve">
                                            <style type="text/css">
                                                .st0 {
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #00D564;
                                                }

                                                .st1 {
                                                    fill-rule: evenodd;
                                                    clip-rule: evenodd;
                                                    fill: #FFFFFF;
                                                }
                                            </style>
                                            <g>
                                                <circle class="st0" cx="112.5" cy="112.5" r="112.5" />
                                                <path class="st1" d="M155.9,133.6c0,0.2-0.2,0.4-0.4,0.4l-4.1,0.1c-0.2,0-0.3-0.1-0.4-0.2l-5.5-7.9c-0.1-0.1-0.4-0.1-0.4,0.1l0,7.9
		c0,0.2-0.2,0.5-0.4,0.5l-4.9,0.2c-0.3,0-0.5-0.2-0.5-0.4c0,0,0,0,0,0l0.2-17.9c0-0.3,0.2-0.5,0.5-0.5c0,0,0,0,0,0l4.4,0.2
		c0.2,0,0.3,0.1,0.4,0.2l6,9c0.1,0.2,0.3,0.1,0.4-0.1l0.1-8.6c0-0.3,0.2-0.4,0.5-0.4l4.5,0c0.3,0,0.5,0.2,0.5,0.5L155.9,133.6
		L155.9,133.6z M137.1,111.9c-3.4-0.1-6.5-0.2-9.8-0.3c-0.3,0-0.6-0.3-0.6-0.6c0-7,0.1-14,0.1-21c0-0.3,0.3-0.6,0.6-0.6
		c3.2-0.2,7.2-0.5,10.4-0.7c3.9-0.3,8.1,0.9,8.1,6.1c0,2-0.9,3.9-2.6,5.1c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0.1,0.2
		c2,0.9,3.2,2.4,3,5.2C146,111.1,141.4,112,137.1,111.9L137.1,111.9z M127.8,136.2c-5.8,0.2-10.5-4.2-10.5-10.2
		c0-6.3,3.8-10.5,10.3-10.5c5.7,0,10.1,4.1,10.1,10.2C137.7,131.8,133.3,136,127.8,136.2z M109.8,111.2c-0.3,0-0.5-0.3-0.5-0.6
		c0.1-6.5,0.1-12.9,0.2-19.4c0-0.3,0.2-0.6,0.5-0.6c4.7-0.3,9.5-0.6,14.2-0.9c0.3,0,0.6,0.2,0.6,0.5l0,4.2c0,0.3-0.3,0.6-0.6,0.7
		c-3.7,0.2-5.5,0.3-9,0.4c-0.1,0-0.1,0.1-0.1,0.2l0,2.1c0,0.1,0.1,0.2,0.1,0.2c3-0.1,4.6-0.2,7.8-0.3c0.3,0,0.6,0.3,0.6,0.6l0,4.4
		c0,0.4-0.3,0.7-0.6,0.7l-7.8,0c-0.1,0-0.2,0.1-0.2,0.2l0,2.4c0,0.1,0.1,0.2,0.1,0.2c3.5,0,5.3,0.1,9,0.1c0.3,0,0.6,0.3,0.6,0.6
		l0,4.2c0,0.3-0.3,0.5-0.6,0.5C119.3,111.4,114.5,111.3,109.8,111.2z M104.8,137.6c-6.7,0.2-11.7-4.1-11.7-11.2
		c0-6.6,4.3-11.4,11.6-11.4c6.2,0,11,4.9,11,11.2C115.7,132.9,111,137.4,104.8,137.6z M92.7,120.5c0,0.3-0.2,0.4-0.5,0.4l-5.7-0.1
		c-0.1,0-0.2,0.1-0.2,0.2c0,0,0,0,0,0l0.1,16.3c0,0.2-0.2,0.5-0.4,0.5l-5.8,0.4c-0.3,0-0.5-0.2-0.5-0.4c0,0,0,0,0,0l0.1-16.8
		c0-0.1-0.1-0.2-0.2-0.2l-6.2-0.1c-0.2,0-0.5-0.2-0.5-0.4l-0.2-5.4c0-0.3,0.2-0.5,0.5-0.5c0,0,0,0,0,0l19.1,0.5
		c0.3,0,0.5,0.2,0.5,0.5C92.9,115.4,92.7,120.5,92.7,120.5z M81.4,92.6c1.4-0.1,3-0.2,4.5-0.3c0.2,0,0.4,0.1,0.4,0.4
		c0.7,3.5,1.5,6.5,2.2,10c0,0.1,0.1,0.8,0.1,0.8c0,0,0.1-0.7,0.1-0.8c0.9-3.6,1.7-6.8,2.6-10.4c0.1-0.2,0.2-0.4,0.5-0.4
		c1.7-0.1,2.7-0.2,4.5-0.3c0.2,0,0.4,0.1,0.5,0.4c0.9,3.7,1.7,7,2.6,10.7c0,0.1,0.1,0.8,0.1,0.8c0,0,0.1-0.7,0.1-0.8
		c0.9-3.8,1.8-7.2,2.7-11.1c0.1-0.2,0.3-0.4,0.5-0.4c1.7-0.1,2.9-0.2,4.6-0.3c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.1,0.3,0.1,0.5
		c-1.8,6.3-3.4,12.7-5.2,19c-0.1,0.2-0.3,0.4-0.5,0.4c-2.1-0.1-3.4-0.1-5.4-0.1c-0.2,0-0.4-0.2-0.5-0.4c-0.8-3.2-1.6-5.9-2.4-9.1
		c0-0.1-0.1-0.5-0.1-0.5c0,0-0.1,0.5-0.1,0.5c-0.8,3.1-1.7,5.8-2.5,9c-0.1,0.2-0.2,0.4-0.4,0.4c-1.9-0.1-3.5-0.1-5.3-0.1
		c-0.2,0-0.4-0.2-0.4-0.4c-1.3-5.6-2.8-11.2-4.1-16.8C80.9,92.9,81.1,92.7,81.4,92.6L81.4,92.6z M154.7,107.1l3.9-45.6L65.9,75.9
		l7.9,29.5H56.7l17.5,53.8l41-6.1v16l47.5-21.8l6.8-40.3H154.7L154.7,107.1z M133,97.6c1.4,0,2.1-0.1,3.5-0.1
		c1.6-0.1,2.3-0.7,2.3-1.9c0-0.9-0.2-1.7-2.3-1.6c-1.4,0.1-2.1,0.1-3.5,0.2c-0.1,0-0.2,0.1-0.2,0.2l0,3.1
		C132.8,97.5,132.9,97.6,133,97.6L133,97.6z M104.7,121c-2.9,0-4.9,1.9-4.9,5.3c0,3.4,2.1,5.4,4.9,5.3c2.9-0.1,4.8-2.2,4.8-5.5
		C109.5,122.9,107.5,121,104.7,121z M127.6,121.1c-2.6,0-4.4,1.9-4.4,4.9c0,3,1.9,4.9,4.5,4.8c2.6-0.1,4.3-2.1,4.3-4.9
		C132,122.9,130.4,121.1,127.6,121.1L127.6,121.1z M136.8,103.2c-1.5,0-2.3,0-3.8,0c-0.1,0-0.2,0.1-0.2,0.2l0,3.2
		c0,0.1,0.1,0.2,0.2,0.2l3.8,0.1c2.2,0,2.5-1,2.5-1.8C139.2,103.8,138.4,103.2,136.8,103.2L136.8,103.2z" />
                                            </g>
                                        </svg>

                                    </div>
                                    <h2>네이버 웹툰</h2>
                                    <p>국내 최대최고의 콘텐츠 플랫폼!<br>
                                        도전과 혁신으로 웹툰시장을 확대하고<br>
                                        창작자와 상생하며 구축해온 성장의 역사.<br>
                                        웹툰은 물론, 이제 영상과 게임까지!</p>
                                    <ul>
                                        <li class="google"><a class="ir_so" href="#">구글</a></li>
                                        <li class="apple"><a class="ir_so" href="#">애플</a></li>
                                        <li class="inter"><a href="#" class="ir_so">인터넷</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--//2번방-->

                        <div class="n_cont_room3">
                            <div class="room3 clearfix">
                                <div class="room3_door1">
                                    <h1>BUSINESS</h1>
                                    <p>개성 넘치는 소재와 흥미진진한 스토리를 앞세운 웹툰, 웹소설이 다양한 사업 영역에서 다시 태어나고 있습니다.<br>
                                        빅배너, PPL, 홍보/브랜드 웹툰 등 웹툰, 웹소설 캐릭터 및 온라인 지면을 활용한 광고와 영화, 드라마, 게임, 애니메이션, 캐릭터 상품,
                                        디지털 콘텐츠, 출판 등<br>
                                        다양한 파트너들과의 제휴를 통해 사업 영역을 넓히고 있습니다.</p>

                                </div>
                                <div class="room3_door2"></div>
                                <div class="room3_door3"></div>
                                <div class="room3_door4">
                                    <img src="./img/business.png" alt="">
                                    <img src="./img/business2.png" alt="">
                                    <img src="./img/business3.png" alt="">
                                    <img src="./img/business4.png" alt="">
                                    <img src="./img/business5.png" alt="">
                                </div>
                            </div>
                        </div>

                        <!-- //3번방 -->
                    </div>
                </div>
            </div>
        </section>
        <!-- //컨텐츠 1 -->

        <div class="naver_content1">
            <div class="container">
                <div class="n_cont_room4">
                    <div class="room4 clearfix">
                        <div class="room4_door1">
                            <h1>CAREERS</h1>
                        </div>
                        <div class="room4_door2"></div>
                        <div class="room4_door3">
                            <a href="#">지원하기 ❯</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //4번방 -->

        <div class="naver_content2">
            <div class="container">
                <div class="n_cont_room5">
                    <div class="room5 clearfix">
                        <div class="room5_door1">
                            <h1>contact us</h1>
                            <h2>korea office</h2>
                            <p>경기도 안산시 중앙동 123-3445</p>
                            <h2>partnership</h2>
                            <p>PARTNERSHIP
                                웹툰, 웹소설로 창출되는 다양한 비즈니스 분야를 새롭게 개척하고 있습니다.
                                네이버웹툰과 함께 사업의 가능성을 확장하세요!</p>
                            <a href="#">제휴문의 <em>❯</em> </a>
                        </div>
                        <div class="room5_door2">
                            <div class="map"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- //4번방 -->

        <!-- //컨텐츠 2 -->

        <!-- 푸터 -->
        <footer id="naver_footer">
            <div class="container">
                <div class="naver_footer">
                    <p>ⓒ 2021 NAVER WEBTOON All RIGHTS RESERVED</p>
                    <ul>
                        <li><a href="#">공고</a></li>
                        <li><a href="#">개인정보</a></li>
                        <li><a href="#">기업윤리</a></li>
                    </ul>
                </div>
        </footer>
        <!-- //푸터 -->
    </div>


    <script>
        window.addEventListener("scroll", function () {
            var nav = document.querySelector(".naver_nav_bg .rogo");
            let scroll = document.documentElement.scrollTop || window.scrollY || window.pageYOffset;
            console.log(scroll)

            if (scroll > 530) {
                nav.classList.add("fix");
            } else {
                nav.classList.remove("fix");
            }

            document.querySelector(".room5_door2 .map").style.top = (scroll * 1.05 + "px")

            if (scroll < 2943){
                document.querySelector(".room5_door2 .map").style.disply = "none"
            }else{
                document.querySelector(".room5_door2 .map").style.disply = "block"
            }


        });
    </script>

</body>

</html>